body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel-slide {
    min-width: 100%;
}

img {
    width: 100px;
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}